#topbar,
#series-navigation {
  border-radius: 0;
}

.core-info {
  margin-bottom: 20px;
}

#navbar-collapse2, #navbar-collapse3 {
  padding-left: 0;
}

#navbar-collapse2 .navbar-btn:first-child,
.navbar-btn:only-of-type,
.nav-pills .btn-default,
.nav-pills .previous {
  margin-left: 20px;
}

.navbar {
  margin-bottom: 0;
}

pre.content {
  background-color: transparent;
  border: none;
}

#footer {
	padding: 1em;
	font-size: small;
	text-align: center;
	color: #909090;
}

#footer a {
	color: #909090;
}

#username {
  margin-left: 5px;
}

.danger {
  color: #a94442;
}

th > a {
  font-weight: normal;
}

.sorted {
  font-weight: bold;
}

.status-info{
  color: #333;
}

.status-info:hover {
  text-decoration: none;
  cursor: pointer;
  color: #777;
}

.status-info:focus {
  text-decoration: none;
  color: #777;
}

a.badge {
  background-color: transparent;
  color: #777;
  border: 1px solid #777;
}

a.badge:hover {
  background-color: #777;
}

a.badge:focus {
  outline: none;
  background-color: #777;
}

.popover li {
  padding-bottom: 6px;
}

.toolbar {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: transparent;
}

.pagination {
  margin: 8px 0 20px;
}

.patch-pagination {
  margin-top: 6px;
  margin-bottom: 0;
}

.patch-actions {
  margin-top: 5px;
  margin-left: 20px;
}

.tab-content {
  margin-top: 20px;
}

.pagination > li > a,
.pagination > li > span {
  border: none;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #eee;
  color: #777;
  border-radius: 4px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    background-color: #d9edf7;
    border-color: #d9edf7;
    color: #2a6496;
}

@media screen and (min-width: 768px) {
  .toolbar > .container-fluid > .navbar-collapse {
    margin-left: -30px;
    margin-right: -15px;
  }
}

@media screen and (max-width: 768px) {
  .toolbar > .container-fluid .navbar-form {
    margin: 0;
  }
}

.navbar-form .input-group .input-group-addon,
.navbar-form .input-group .input-group-btn,
.navbar-form .input-group .form-control {
  width:inherit;
}

.dropdown-menu .btn {
  margin-top: 10px;
}

#status-filter,
#date-filter,
#submitter-filter,
#reviewer-filter,
#reviewer-action {
  padding: 15px;
}

#status-filter {
  min-width: 200px;
}

#submitter-filter,
#reviewer-filter,
#reviewer-action {
  min-width: 300px;
}

.table-info{
  margin: 8px 0 20px;
  padding: 6px 12px;
  background-color: transparent;
  color: #777;
  border-color: #ddd;
}

.show-all {
  margin-left: 15px;
}

.acked,
.reviewed-by,
.tested-by {
  border-left: solid 1px #ddd;
  text-align: center;
}

th.acked,
th.reviewed-by,
th.tested-by {
  border-top: solid 1px #ddd !important;
}

th.acked:hover,
th.reviewed-by:hover,
th.tested-by:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}

.tested-by {
  border-right: solid 1px #ddd;
}

tr:last-child > td.acked,
tr:last-child > td.reviewed-by,
tr:last-child > td.tested-by {
  border-bottom: solid 1px #ddd;
}

.navbar-nav li .label,
.panel-heading .label {
  margin-left: 5px;
}

.panel:first-of-type {
   margin-top: 20px;
}

.panel-heading:hover {
  cursor: pointer;
  background-color: #ddd;
}

span.p_header	{ color: #2e8b57; font-weight: bold; }
span.p_chunk	{ color: #a52a2a; font-weight: bold; }
span.p_context	{ color: #a020f0; }
span.p_add	{ color: #008b8b; }
span.p_del	{ color: #6a5acd; }
span.p_mod	{ color: #0000ff; }
span.quote { color: #007f00; }

.comment .meta {
	background: #f0f0f0;
	padding: 0.5em 0.5em;
}

.tab-pane dl {
  margin-left: 15px;
}

dd {
  margin-left: 10px;
}

pre {
  background-color: transparent;
  border: none;
}

.core-info {
  margin-top: 0;
  margin-bottom: 20px;
}

.core-info span {
  margin-right: 8px;
}

h1 .glyphicon-pencil {
  font-size: 20px;
  color: #428bca;
}

h1 .glyphicon-pencil:hover {
  cursor: pointer;
  color: #2a6496;
}
