#topbar,
#series-navigation {
  border-radius: 0;
}

.core-info {
  margin-bottom: 20px;
}

#navbar-collapse2, #navbar-collapse3 {
  padding-left: 0;
}

#navbar-collapse2 .navbar-btn:first-child,
.navbar-btn:only-of-type,
.nav-pills .patch-actions,
.nav-pills .previous {
  margin-left: 20px;
}

.navbar {
  margin-bottom: 0;
}

pre.content {
  background-color: transparent;
  border: none;
}

#footer {
	padding: 1em;
	font-size: small;
	text-align: center;
	color: #909090;
}

#footer a {
	color: #909090;
}

#username {
  margin-left: 5px;
}

.danger,
.glyphicon-trash {
  color: #a94442;
}

.glyphicon-trash:hover {
  color: #d9534f;
  cursor: pointer;
}

th > a {
  font-weight: normal;
}

.sorted {
  font-weight: bold;
}

.status-info{
  color: #333;
}

.status-info:hover {
  text-decoration: none;
  cursor: pointer;
  color: #777;
}

.status-info:focus {
  text-decoration: none;
  color: #777;
}

a.badge {
  background-color: transparent;
  color: #777;
  border: 1px solid #777;
}

a.badge:hover {
  background-color: #777;
}

a.badge:focus {
  outline: none;
  background-color: #777;
}

.popover li {
  padding-bottom: 6px;
}

.toolbar {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: transparent;
}

.pagination {
  margin: 8px 0 20px;
}

#patch-nav {
  /*background-color: #e7e7e7;*/
  padding-top:10px;
  padding-bottom:10px;
  border-top: solid 1px #e7e7e7;
  /*margin-right:-45px;
  margin-left:-20px;*/
}

.patch-pagination {
  /*margin-top: 6px;
  margin-bottom: 0;*/
  margin:0;
}

.patch-pagination > .active > a,
.patch-pagination > .active > span,
.patch-pagination > .active > a:hover,
.patch-pagination > .active > span:hover,
.patch-pagination > .active > a:focus,
.patch-pagination > .active > span:focus {
  background-color: transparent !important;
}

.patch-pagination > .disabled > span,
.patch-pagination > .disabled > span:hover,
.patch-pagination > .disabled > span:focus,
.patch-pagination > .disabled > a,
.patch-pagination > .disabled > a:hover,
.patch-pagination > .disabled > a:focus {
  background-color: transparent;
}

.patch-pagination > li > a,
.patch-pagination > li > span {
  background-color: transparent;
}

.patch-actions {
  margin-top: 5px;
  margin-left: 20px;
}

.tab-content {
  margin-top: 20px;
}

.pagination > li > a,
.pagination > li > span {
  border: none;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #eee;
  color: #777;
  border-radius: 4px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    /*background-color: #d9edf7;*/
    border-color: #d9edf7;
    color: #2a6496;
}

@media screen and (min-width: 768px) {
  .toolbar > .container-fluid > .navbar-collapse {
    margin-left: -30px;
    margin-right: -15px;
  }
}

@media screen and (max-width: 768px) {
  .toolbar > .container-fluid .navbar-form {
    margin: 0;
  }
}

.navbar-form .input-group .input-group-addon,
.navbar-form .input-group .input-group-btn,
.navbar-form .input-group .form-control {
  width:inherit;
}

.dropdown-menu .btn {
  margin-top: 10px;
}

#status-filter,
#date-filter,
#submitter-filter,
#reviewer-filter,
#reviewer-action,
#delegate-action,
#delegate-filter,
#bundle-action,
#addto-bundle-action,
#tests-filter {
  padding: 15px;
}

#status-filter,
#tests-filter {
  min-width: 250px;
}

#date-filter {
  min-width: 200px;
}

#submitter-filter,
#reviewer-filter,
#reviewer-action,
#delegate-action,
#delegate-filter,
#bundle-action,
#addto-bundle-action  {
  min-width: 300px;
}

.scrolling {
  overflow: auto;
  height: 146px;
}

.scrolling li > a {
  clear: both;
  color: #333;
  display: block;
  font-weight: 400;
  line-height: 1.42857;
  padding: 3px 20px;
  white-space: nowrap;
}

.scrolling li > a:hover {
  background-color: #f5f5f5;
  color: #262626;
  text-decoration: none;
}

.table-info{
  margin: 8px 0 20px;
  padding: 6px 12px;
  background-color: transparent;
  color: #777;
  border-color: #ddd;
}

.show-all {
  margin-left: 15px;
}

.acked,
.reviewed-by,
.tested-by {
  border-left: solid 1px #ddd;
  text-align: center;
}

th.acked,
th.reviewed-by,
th.tested-by {
  border-top: solid 1px #ddd !important;
}

th.acked:hover,
th.reviewed-by:hover,
th.tested-by:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}

.tested-by {
  border-right: solid 1px #ddd;
}

tr:last-child > td.acked,
tr:last-child > td.reviewed-by,
tr:last-child > td.tested-by {
  border-bottom: solid 1px #ddd;
}

.navbar-nav li .label,
.panel-heading .label {
  margin-left: 5px;
}

.panel:first-of-type {
   margin-top: 20px;
}

.panel-heading.test:hover {
  cursor: pointer;
  background-color: #ddd;
}

span.p_header	{ color: #2e8b57; font-weight: bold; }
span.p_chunk	{ color: #a52a2a; font-weight: bold; }
span.p_context	{ color: #a020f0; }
span.p_add	{ color: #008b8b; }
span.p_del	{ color: #6a5acd; }
span.p_mod	{ color: #0000ff; }
span.quote { color: #007f00; }

.comment .meta {
	background: #f0f0f0;
	padding: 0.5em 0.5em;
}

dl {
  margin-left: 15px;
}

#email-info {
  margin-left: 0;
}

#email-info .checkbox {
  margin-top: 0;
}

#email-info .glyphicon-trash {
  padding-left: 3px;
}

#email-info dt {
  margin-bottom: 5px;
}

#email-info li {
  margin-bottom: 20px;
}

#content dl {
  margin-top: 20px;
}

dd {
  margin-left: 10px;
}

pre {
  background-color: transparent;
  border: none;
}

.core-info {
  margin-top: 0;
  margin-bottom: 20px;
}

.core-info span {
  margin-right: 8px;
}

h1 .glyphicon-pencil {
  font-size: 20px;
  color: #428bca;
}

h1 .glyphicon-pencil:hover,
.glyphicon-download-alt:hover {
  cursor: pointer;
  color: #2a6496;
}

.glyphicon-download-alt {
  color: #428bca;
  padding-left: 8px;
}

.panel-heading .date {
  font-weight: normal;
}

label > form {
  margin-top: 10px;
}

.thumbnail {
  min-height: 225px;
}

.help-inline {
  color: #737373;
  margin: 0;
  font-weight: normal;
  display: inline;
}

button[id^='clear-']{
  margin-right: 5px;
}

#change-notification {
    box-shadow: 0 0 10px #3a87ad;
    left: 30%;
    position: fixed;
    right: 20%;
    top: 8%;
    z-index: 101;
    max-width: 40%;
}

.navbar-default .btn-link {
  color: #428bca;
}

.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: #2a6496;
}

/*td .label-success,
td .label-warning,
td .label-danger {
  background-color: transparent;
}

td .label-success {
  border: solid 1px #5cb85c;
  color: #3c763d;
}

td .label-warning {
  border: solid 1px #f0ad4e;
  color: #ec971f;
}

td .label-danger {
  border: solid 1px #d9534f;
  color: #a94442;
}*/
