#topbar {
  border-radius: 0;
}

.core-info {
  margin-bottom: 20px;
}

#navbar-collapse2, #navbar-collapse3 {
  padding-left: 0;
}

#navbar-collapse2 .navbar-btn:first-child, .navbar-btn:only-of-type {
  margin-left: 20px;
}

.navbar {
  margin-bottom: 0;
}

pre.content {
  background-color: transparent;
  border: none;
}

#footer {
	padding: 1em;
	font-size: small;
	text-align: center;
	color: #909090;
}

#footer a {
	color: #909090;
}

#username {
  margin-left: 5px;
}

.danger {
  color: #a94442;
}

th > a {
  font-weight: normal;
}

.sorted {
  font-weight: bold;
}

.status-info:hover {
  text-decoration: none;
  cursor: pointer;
}

.status-info:focus {
  text-decoration: none;
}
